
@charset "utf-8";

/* CSS Document */
body {margin:0px; padding:0px;}

h1,h2,h3,ul {margin:0px; padding:0px;}

img {
   border:none;
}

ul li {margin:0px; padding:0px;}

a {
   text-decoration:none; outline:none;}

.divclear {clear:both;}




#main {
   width:983px; height:auto; margin:auto; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#424141;
}

#mainbody {
   width:983px; height:auto; float:left; padding:0 0 14px 0;
}

#bidmaintitalmidtext {
   width:172px; height:35px; float:left; text-align:center;
}

.mainbodytop {
   width:983px; height:auto; float:left; padding:14px 0 0 0;
}

.bodytopline {
   width:983px; height:auto; float:left;
}

.image {
   width:auto; height:auto; float:left;
}

.bodytopline_gred {
   width:963px; height:24px; float:left;
   background-image:url(../images/bodytopgred.png);
   background-repeat:repeat-x; background-position:left top;
   font-size:14px; color:#303030; 
   text-decoration:none; padding:10px 0 0 8px;
}

.bodytopmid {
   width:971px; height:auto; float:left; border-left:1px solid #cccaca; border-right:1px solid #cccaca; padding:10px 0 0 10px;
}

.topbidboxmain {
   width:184px; height:auto; float:left; padding:0 10px 10px 0;
}

.topbidboxmain_bg {
   width:172px; height:262px; float:left; padding:6px;
   background-image:url(../images/bidbox_bg.png);
   background-repeat:no-repeat;
   background-position:left top; text-align:center;
}

a.linkbidtital {
   font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#035996; font-weight:bold; text-decoration:none;
}

.bidtitalmidtext2 {
   width:150px; height:auto; float:left; text-align:center; padding:0 0 10px 22px;
}

.bidimage_bg { 
   width:122px; height:91px; float:left; 
   background-image:url(../images/imagebox_bg.png);
   background-repeat:no-repeat;
   background-position:left top;
   text-align:center; padding:3px;
}

.toptimer {
   font-size:22px; color:#0161a8; font-weight:bold;
}




